* {
  font-family: 'Montserrat', sans-serif;
}

*:focus {
outline-color: #2B2733;
}

body {
  background-color: #46424D;
  margin: 0;
}

header {
  font-size: 12px;
  color: #FFF;
  display: flex;
  justify-content: center;
  background-color: #46424D;
}

main {
  background-color: #2B2733;
  display: flex;
  height: 100%;
}

h2 {
    color: #CBC9CF;
    padding-top: 1em;
    padding-left: 1em;
}

.new-activities-section {
  width: 66%;
}

.form-box {
  background-color: #46424D;
  margin: 20px;
  padding: 3rem 5rem 5rem 5rem;
  width: 77%;
  color: white;
  border-radius: 1%;
  box-shadow: 5px 5px 5px #202020;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.form-button {
   width: 8rem;
   background: transparent;
   border: 1.5px solid white;
   border-radius: 5%;
   color: white;
   font-size: 14px;
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.study-btn-active {
  border: 1.5px solid #B3FD78;
  color: #B3FD78;
}

.meditate-btn-active {
  color: #C278FD;
  border-color: #C278FD;
}

.exercise-btn-active {
  color: #FD8078;
  border-color: #FD8078;
}

.form-box img {
  height: 25px;
  width: 25px;
}

.acco {
  padding-top: 4em;
  padding-bottom: 4em;
}

label {
  display: block;
  margin-bottom: 15px;
}

.input-field {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 1em;
  color: white;
}

.time {
 display: flex;
 justify-content: space-between;
 padding-bottom: 4em;
}

.min {
  margin-right: 7em;
}

.min, .sec {
  width: 50%;
}

.start-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.start-btn {
  -webkit-appearance: none;
  height: 35px;
  width: 30%;
  border-radius: 5%;
  font-size: 14px;
  float: right;
}

hr {
  border: 1px solid #46424D;
  margin-top: 0;
  margin-bottom: 0;
}

.saved-activities {
  width: 33.3%;
}

.default-words {
  color: #CBC9CF;
  margin-top: 30px;
  padding-left: 1em;
  text-align: center;
}

.error {
  color: #F0B8EC;
  font-size: 16px;
}

.error img {
  height: 16px;
  width: 16px;
}

.timerCircle {
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-button {
  font-size: 20px;
  color: white;
  height: 200px;
  width: 200px;
  border: 2.5px solid white;
  border-radius: 100%;
  background: transparent;
}

.start-study-outline {
  border-color: #B3FD78;
}

.start-meditate-outline {
  border-color: #C278FD;
}

.start-exercise-outline {
  border-color: #FD8078;
}

.hidden {
  display: none;
}

.timer-display {
  font-size: 75px;
  font-weight: bolder;
  padding-bottom: 35px;
  margin: 0;
}

.description-display {
  margin: 0;
  padding: 0;
}

.card-type {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  background-color: #46424D;
  border-radius: 5% 5%;
  margin: 15px;
}
.card {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  font-size: 14;
}
.selected-type {
  font-weight: bolder;
}
.selected-activity {
  margin-top: 10px;
}
.border-line {
  border-right: 3px solid white;
  height: 30px;
  margin: 10px;
}







/* if we have time later lets resize the fonts of the form to be 400*/
