* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #46424D;
}

header {
  font-size: 12px;
  padding: 10px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
}

main {
  background-color: #2B2733;
  display: flex;
}

h2 {
    color: #CBC9CF;
}

.new-activities-section {
  width: 66%;
  margin: 5px 30px 30px 30px;
}

.form-box {
  background-color: #46424D;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 80px 10px 80px;
  grid-row-gap: 25px;
  border-radius: 1%;
  box-shadow: 5px 5px 5px #202020;
}

.form-box img {
  height: 25px;
  width: 25px;
}

.form-box button {
  background: Transparent;
  color: #FFF;
  border-radius: 5%;
  border: solid 1.5px;
  height: 55px;
  width: 125px;
}

.form-box h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.studyB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

.meditateB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 2;

}

.exerciseB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 5;
  grid-row-start: 2;
}

.acco {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
}

.min {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.sec {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
}

.startB {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  height: 80%;
  width: 80%;

}

#accomplishment {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}

#minutes {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}

#seconds {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}

.saved-activities {
  width: 34%;
  margin: 5px 30px 30px 30px;
}

.saved-activities h2 {
  padding-top: 5px;
}

hr {
  border: 1px solid #46424D;
  margin-top: 0;
  margin-bottom: 0;
}


.default-words {
  color: #FFF;
  text-align: center;
}
