* {
  font-family: 'Montserrat', sans-serif;
}

header {
  font-size: 12px;
  padding: 10px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
}

main {
  background-color: #2B2733;
}

h2 {
    color: #CBC9CF;
}

.panels {
  display: flex;
}

.form-box {
  background-color: #46424D;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 25px;
  grid-row-gap: 25px;
}


.studyB {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
}

.meditateB {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 2;
}

.exerciseB {
  display: grid;
  grid-column-start: 5;
  grid-row-start: 2;
}

.acco {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
}

.min {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
}

.sec {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
}

.startB {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
}

#accomplishment {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}

#minutes {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}

#seconds {
  color: #FFF;
  background: Transparent;
  border: none;
  padding: 15px 15px;
  border-bottom: 1px solid #FFF;
}



.default-words {
  color: #FFF;
  /* display: flex;
  justify-content: center; */
}
